@import '../../styles/global.scss';
@import '../../styles/theme.scss';

.errorPageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-width: 100%;
  min-height: 80vh;

  .errorImageDiv {
    img {
      max-width: 10rem;
    }
  }

  .errorMessageDiv {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    margin-top: 1rem;
    margin-bottom: 2rem;

    text-align: center;

    .errorMessageHeading {
      color: $base-title;
      font-size: 1.25rem;
      font-weight: 700;
    }
    .errorMessageSpan {
      color: $base-subtitle;
    }
  }

  .backToHomeButton {
    padding: 0.5rem 1rem;
    
    color: $purple;
    font-size: 0.875rem;

    border-radius: 6px;
    background-color: $purple-light;
    
    transition: background-color 0.2s;
    
    &:hover {
      color: $white;
      background-color: $purple-dark;
    }
  }
}